<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>StaticHomepage for overview</title>
    <link rel="stlyesheetForHomepage"
          type="text/css"
          href="../static/css/StyleSheetForHomepage.css"/>
</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><a href="/test">Logo/Homepageclick</a> </li>
                <li><a href="#">andere funktion noch?</a></li>
                <li><a href="#">?</a></li>
            </ul>
        </nav>
        <div class="containerSearchbar">
            <input type="text" id="searchBar" placeholder="Suchbar">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
                GO
            </button>
        </div>
    </header>
    <div class="mainWrapper">
        <aside class="sidebar">
            <h2>Sidebar</h2>
            <ul>
                <li><a href="#">Funktion 1</a></li>
                <li><a href="#">Funktion 2</a></li>
                <li><a href="#">Funktion 3</a></li>
                <li><a href="#">Funktion 4</a></li>
            </ul>
        </aside>


        <section class="mainDisplay">
            <h2>Hauptdarstellungsfenster</h2>
            <p>Auflistungen etc (Das hier ist paragraph)</p>
            <ul>
                <li>Event 1</li>
                <li>Event 2</li>
                <li>Event 3</li>
                <li>Event 4</li>
                <li>Event 5</li>
                <li>Event 6</li>
                <li>Event 7</li>
                <li>Event 8</li>
                <li>Event 9</li>
                <li>Event 10</li>
                <li>Event 11</li>
                <li>Event 12</li>
                <li>Event 13</li>
                <li>Event 14</li>
                <li>Event 15</li>
                <li>Event 16</li>
                <li>Event 17</li>
                <li>Event 18</li>
                <li>Event 19</li>
                <li>Event 20</li>
            </ul>
        </section>
    </div>
</div>


<footer>
    <h3>Footer</h3>
    <p>Falls ben?tigt</p>
</footer>
</body>
</html>