<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Test</title>

     <link href="../static/css/bootstrap.css" rel="stylesheet"
           th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
</head>
<body>
    <h1>Hello</h1><h1 th:text="${name}"></h1>

    <p th:each="s: ${array}" th:text="${s}">Hallo</p>
    <p th:each="event: ${events}" th:text="${event.getName()}">Name</p>
    <p th:each="event: ${events}" th:text="${event.getDate()}">Name</p>
    <p th:each="event: ${events}" th:text="${event.getDescription()}">Name</p>
    <p th:each="event: ${events}" th:text="${event.getLikes()}">Name</p>
    <p th:each="event: ${events}" th:text="${event.getDislikes()}">Name</p>
</body>
</html>