<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Beliebteste Events</title>
    <!-- bootstrap scaling order -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom StyleSheet for the page -->
    <link rel="stlyesheetForHomepage"
          type="text/css"
          href="../css/StyleSheetTopTwenty.css"/>
    <script type="text/javascript" src="../javascript/TopTwentyJS.js"></script>
</head>
<body>

<!-- Header on top of the site -->
<nav class="navbar sticky-top navbar-dark bg-dark" id="header">
    <a href="/" class="navbar-brand">EventPlanning</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Eventsuche" aria-label="Search" id="searchbar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suche</button>
    </form>
</nav>

<!-- Main Body of the page -->
<div class="container">

    <!-- Sidebar and MainDisplaying-Window-->
    <div class="row" id="mainScreen">

        <!-- Sidebar containing functions (static) -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="sidebar">
            <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menü</button>
            <div class="dropdown-menu dropdown-menu-center" id="dropdownmenu">
                <a class="dropdown-item" href="/createEvent">Event bekannt machen</a>
                <a class="dropdown-item" href="/newestEvents">Neueste Events</a>
                <a class="dropdown-item" href="/topTwenty">Hottest 20</a>
            </div>
        </div>
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        </aside>

        <!-- Main display for interactions and displaying -->
        <section class="col-lg-7 col-md-7 col-sm-12 col-xs-12" id="display">
            <!-- header of the main display -->
            <h2>Meist gelikedte Events</h2>

            <!-- table displaying events and little info about them -->
            <table class="table-responsive">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Ort</th>
                    <th scope="col">Datum</th>
                    <th scope="col">likes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event: ${eventsByLikes}">
                    <th> <a th:href="@{'eventplanning/detail?name=' + ${event.name}}" th:text="${event.name}"></a></th>
                    <th th:text="${event.location}"></th>
                    <th th:text="${event.date}"></th>
                    <th th:text="${event.likes}"></th>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>


<!-- Footer -->
<div class="footer-dark">
    <footer class="site-footer">
        <div class="container" id="footerContainer">
            <div class="row" id="footerRow">
                <div class="col-sm-12 col-md-6 col-lg-6 item">
                    <h3>Services</h3>
                    <ul>
                        <li><button id="restartExamples">Restart with no examples</button></li>
                        <li><button id="restartNoEx">Restart with examples in DB</button></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xl-6 item text">
                    <h3>EventPlanning</h3>
                    <p id="description">Planen und sharen von Events auf einem anderen Niveau</p>
                </div>
            </div>
            <p class="copyright">EventPlanning © 2020</p>
        </div>
    </footer>
</div>


<!-- Required for Bootstrap -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
