<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Event Erstellung</title>
    <!-- bootstrap scaling order -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom StyleSheet for the page -->
    <link rel="stlyesheetForHomepage"
          type="text/css"
          href="src/main/resources/CSS/StyleCreateEvent.css"/>
    <script type="text/javascript" src="src/main/resources/webapp/WEB-INF/javascript/CreateEventJS.js"></script>
</head>
<body>

<!-- Header on top of the site -->
<nav class="navbar sticky-top navbar-dark bg-dark" id="header">
    <a href="eventplanning/" class="navbar-brand">EventPlanning</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Eventsuche" aria-label="Search" id="searchbar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Suche</button>
    </form>
</nav>

<!-- Main Body of the page -->
<div class="container">

    <!-- Sidebar and MainDisplaying-Window-->
    <div class="row" id="mainScreen">

        <!-- Sidebar containing functions (static) -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="sidebar">
            <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menü</button>
            <div class="dropdown-menu dropdown-menu-center" id="dropdownmenu">
                <a class="dropdown-item" href="/eventplanning/createevent">Event bekannt machen</a>
                <a class="dropdown-item" href="/eventplanning/newestevents">Neueste Events</a>
                <a class="dropdown-item" href="/eventplanning/toptwenty">Hottest 20</a>
            </div>
        </div>
        <aside class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        </aside>

        <!-- Main display for interactions and displaying -->
        <section class="col-lg-7 col-md-7 col-sm-12 col-xs-12" id="display">
            <h2>Neues Event erstellen</h2>
            <div id="inputContainer">
                <form action="#" th:action="@{/createvent}" th:object="${createdEvent}" method="post">
                    <div class="inputDivs" id="eventNameDiv">
                        <p>Eventname</p>
                        <input required type="text" placeholder="Name" th:field="*{eventName}">
                    </div>
                    <div class="inputDivs" id="eventLocationDiv">
                        <p>Ort</p>
                        <input required type="text" placeholder="Ort eingeben" th:field="*{eventLocation}">
                        <select required name="locationData" id="locationSelectBox" th:field="*{eventLocUnit}">
                            <option value="" disabled selected>Art der Angabe</option>
                            <option value="coord">Koordinaten</option>
                            <option value="locName">Ortsname</option>
                        </select>
                    </div>
                    <div class="inputDivs" id="eventDateDiv">
                        <p>Datum</p>
                        <input required type="date" placeholder="current date" th:field="*{eventDate}">
                    </div>
                    <div class="inputDivs" id="eventDescriptionInput">
                        <p>Beschreibung</p>
                        <input required type="text" placeholder="Beschreibe dein Event kurz" id="descriptionBox" th:field="*{eventDescription}">
                    </div>
                    <div class="inputDivs" id="eventTypDiv">
                        <p>Eventtyp</p>
                        <input required type="text" placeholder="Welche Art Event" th:field="*{eventType}">
                    </div>
                    <div id="divSubmit">
                        <button type="submit" id="confirm">Event bekannt machen!</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

<!-- Footer -->
<div class="footer-dark">
    <footer class="site-footer">
        <div class="container" id="footerContainer">
            <div class="row" id="footerRow">
                <div class="col-sm-12 col-md-6 col-lg-6 item">
                    <h3>Services</h3>
                    <ul>
                        <li><button id="restartExamples">Restart with no examples</button></li>
                        <li><button id="restartNoEx">Restart with examples in DB</button></li>
                    </ul>
                </div>
                <div class="col-md-6 col-xl-6 item text">
                    <h3>EventPlanning</h3>
                    <p id="description">Planen und sharen von Events auf einem anderen Niveau</p>
                </div>
            </div>
            <p class="copyright">EventPlanning © 2020</p>
        </div>
    </footer>
</div>

<!-- Required for Bootstrap -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>